Repository nochadisfaction/pixel: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any file but: README.md, docs, .gitignore
  azure-pipelines.yml: any of: src, deploy/azure, Dockerfile.azure, azure-pipelines.yml, .azure-pipelines, package.json, pnpm-lock.yaml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: azure-pipelines-1.yml, azure-pipelines.yml

once more
  .lfsconfig
  add_ai_to_lfs.py
  docs/PSYCHOLOGY_PIPELINE_WALKTHROUGH.md
  tests/ai/dataset_pipeline/test_voice_quality_assessor.py
Due: azure-pipelines-1.yml

once more
  .gitattributes
  .gitignore
  .lfsconfig
  add_ai_to_lfs.py
  docs/PSYCHOLOGY_PIPELINE_WALKTHROUGH.md
  restart-typescript.sh
  setup_ai_lfs.sh
  tests/ai/dataset_pipeline/test_voice_quality_assessor.py
Due: azure-pipelines-1.yml

once more
  .gitignore
Due: none

once more
  .gitattributes
  .gitignore
Due: azure-pipelines-1.yml

once more
  .gitattributes
Due: azure-pipelines-1.yml

maybe this one
  .gitattributes
  .gitignore
  .trunk/actions
  .trunk/notifications
  .trunk/out
  .trunk/tools
  docs/PSYCHOLOGY_PIPELINE_WALKTHROUGH.md
  restart-typescript.sh
  setup_ai_lfs.sh
Due: azure-pipelines-1.yml

hold the syrup
  .gitignore
  check_ollama.py
  docs/AI_REORGANIZATION_MAPPINGS.md
  fix_ai_references.py
  mdx-components.js
  quick_fix_imports.py
  reorganize_ai.py
  test-fixes.js
  tsconfig.debug.json
  tsconfig.memory-optimized.json
  tsconfig.strict.json
Due: azure-pipelines-1.yml

come on son
  .gitmodules
Due: azure-pipelines-1.yml

turtle power
  .gitignore
  .zencoder/docs/repo.md
  docs/AI_REORGANIZATION_MAPPINGS.md
  reorganize_ai.py
  scripts/README.md
  setup_ai_lfs.sh
  src/content/docs/datasets-guide.md
  src/scripts/run_full_dialogue_pipeline.js
  src/scripts/validate_dialogues.js
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update src/components/analytics/AdvancedFilteringComponent.astro
  src/components/analytics/AdvancedFilteringComponent.astro
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update src/lib/analytics/risk.ts
  src/lib/analytics/risk.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update src/components/MentalHealthChatDemoReact.tsx
  src/components/MentalHealthChatDemoReact.tsx
Due: azure-pipelines-1.yml, azure-pipelines.yml

okay then
  public/js/feature-detector.js
  src/components/analytics/AdvancedFilteringComponent.astro
  src/components/base/Head.astro
  src/components/ui/AccessibilityAnnouncer.tsx
  src/layouts/BaseLayout.astro
Due: azure-pipelines-1.yml, azure-pipelines.yml

fuck it
  src/layouts/BaseLayout.astro
  src/lib/ai/bias-detection/__tests__/BiasDetectionEngine.load.test.ts
  src/lib/ai/types/index.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update Git LFS configuration for large files
  .gitattributes
Due: azure-pipelines-1.yml

Remove incorrect LFS entries for gitignored ai/ folder
  .gitattributes
Due: azure-pipelines-1.yml

Fix ESLint TypeScript generic parameter errors
  eslint.config.js
  src/types/utility.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

fix(pipeline): update Azure pipeline variables for dynamic configuration refactor(api): improve error handling and type definitions in treatment-forecast and techniques APIs
  azure-pipelines.yml
  src/pages/api/analytics/treatment-forecast.ts
  src/pages/api/techniques.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update src/pages/demo/bias-detection.astro
  src/pages/demo/bias-detection.astro
Due: azure-pipelines-1.yml, azure-pipelines.yml

Update src/pages/admin/compatibility-dashboard.astro
  src/pages/admin/compatibility-dashboard.astro
Due: azure-pipelines-1.yml, azure-pipelines.yml
